body{
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 250px;
    background-color: goldenrod;
}

h1{
    color: white;
    font-family: cursive;
    font-size: 2.5em;
    cursor: pointer;
}

form{
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: center;
}

input[type="submit"]:hover{
    background-color: goldenrod;
    color: white;
    border: none;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-top: 0;
    font-family: sans-serif;
    font-size: 0.8em;
    color: #303030;
}

.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "h2 h2"
        "img logistics";
    background-color: white;
    line-height: 1.6;
    border-radius: 20px;
    margin-top: 40px;
}

.card:hover{
    transform: translate(-2px,2px);
}

.names{
    grid-area: h2;
    color: darkslategray;
    grid-column-start: 2;
    margin-left: 15px;
    margin-right: 10px;
}

img{
    grid-area: img;
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 20px 0 0 20px;
}

.logistics{
    margin-left: 15px;
    margin-right: 10px;
    grid-column-start: 2;
    grid-row-start: 2;
}

a{
    text-decoration: underline;
    color: goldenrod;
}

a:hover{
    color: crimson;
    text-decoration: none;
}

/* I took the css titled The Modal background
from W3Schools.com */
/* The Modal background */
.modal-div {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: oldlace;
    color: black;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 1.6;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
  }

  #modal-button{
    background-color: goldenrod;
    border: none;
    color: white;
    border-radius: 15px;
  }

  #modal-button:hover{
      box-shadow: 1px 1px 5px grey;
  }

  @media only screen and (min-width: 900px){
      body{
          margin: 5%;
      }
      h1{
          font-size: 3em;
      }
      #container{
          margin: 10%;
          margin-top: 2%;
      }
  }